#Classe {
	-fx-background-color: green;
}

@font-face {
    -fx-font-family: 'MaPolice';
    -fx-src: url('Robot-Thin.ttf');
}

.button {
	-fx-background-color: #77aa77;
	-fx-text-fill : #ffffff;
	-fx-margin : 5px;
}

.Uml2Java {
	-fx-font-family: 'MaPolice';
}

.margin {
	-fx-margin-right : 20px;
}

.annuler {
	-fx-background-color: #A80505;
	-fx-text-fill : #ffffff;
}

.supprimer {
	-fx-background-color: #E83400;
	-fx-text-fill : #ffffff;
}

.vBoxAttributsClasse {
	-fx-margin-right : 20px;
}

#menuColor {
	-fx-background-color: #ffffff;
	-fx-border: none;
}

#javaMenu {
	-fx-background-color: #cccccc;
}

#rootColor {
	-fx-background-color: #bbeebb;
}